--extra-index-url https://download.pytorch.org/whl/cu124
numpy==1.26.4
soundfile==0.12.1
scipy==1.13.0
librosa==0.10.2.post1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
transformers==4.49.0
accelerate==0.33.0
pydub==0.25.1
safetensors==0.4.3
huggingface_hub==0.29.0
sentencepiece==0.2.0
protobuf==4.25.3
fastapi
uvicorn[standard]
python-multipart
git+https://github.com/ai4bharat/IndicF5.git
